body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-noto-sans: "Noto Sans";
  --font-plus-jakarta-sans: "Plus Jakarta Sans";
  --font-ibm-plex-sans: "IBM Plex Sans";
  --font-open-sans: "Open Sans";
  --font-inter: Inter;
  --font-ibm-plex-serif: "IBM Plex Serif";

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-base: 16px;
  --font-size-23xl: 42px;
  --font-size-7xl: 26px;
  --font-size-lg: 18px;
  --font-size-11xl: 30px;
  --font-size-sm: 14px;
  --font-size-17xl: 36px;
  --font-size-77xl: 96px;
  --font-size-2xl: 21px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-whitesmoke: #f7f7f7;
  --color-gray-100: rgba(255, 255, 255, 0.5);
  --color-gray-200: rgba(255, 255, 255, 0.2);
  --color-white: #fff;
  --color-seagreen: #25734b;
  --color-darkslategray-100: #123627;
  --color-darkslategray-200: rgba(18, 54, 39, 0.5);
  --color-mediumseagreen: #009e4c;

  /* Gaps */
  --gap-13xl: 32px;
  --gap-45xl: 64px;
  --gap-xs: 12px;
  --gap-3xs: 10px;
  --gap-base: 16px;
  --gap-43xl: 62px;
  --gap-11xl: 30px;
  --gap-23xl: 42px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-lg: 18px;
  --padding-6xl: 25px;
  --padding-13xl: 32px;
  --padding-70xl: 89px;
  --padding-mini: 15px;
  --padding-141xl: 160px;
  --padding-85xl: 104px;
  --padding-61xl: 80px;
  --padding-29xl: 48px;
  --padding-23xl: 42px;
  --padding-xs: 12px;
  --padding-11xl: 30px;
  --padding-3xs: 10px;
  --padding-101xl: 120px;
  --padding-16xl: 35px;
  --padding-xl: 20px;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-3xs: 10px;
  --br-2xs: 11px;
}
